apiVersion: apps/v1
kind: Deployment
metadata:
  name: shrikant-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: star-agile-project
  template:
    metadata:
      labels:
        app: star-agile-project
    spec:
      containers:
        - name: my-app
          image: shrikantdevops/star-agile-project:latest
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://database-1.czc46mgoexep.ap-south-1.rds.amazonaws.com/shrikant"
            - name: DB_PORT
              value: "3306"
            - name: SPRING_DATASOURCE_USERNAME
              value: "admin"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "7000150409"
          ports:
            - containerPort: 8081

---

apiVersion: v1
kind: Service
metadata:
  name: shrikant-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: star-agile-project
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30081  # Optional: You can remove this line to let Kubernetes assign a random port
